@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #3183FF;
}
/* **********section1********** */
.con{
    height: 100vh;
    background: linear-gradient(68.66deg, #B6C7CC 60.14%, #58C57D 54.15%, rgba(44, 65, 97, 0) 54.16%, #FFFFFF 54.17%) ;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.h2  {
    margin: 0.5rem 0;
}
.contran {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: rem;
}
.sib{
    margin-top: 16rem;
}

.log{
    display: flex;
    flex-direction: column;
    margin-top: 23rem;
    margin-right: 5rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo{
    margin: 1rem;
    ALIGN-SELF: START;

}
.par{
    margin: 2rem 0;
}
.log input{
    border: 1px solid #3183FF;
    box-sizing: border-box;
    border-radius: 24px;
    margin: 0.7rem 0;
    height: 2rem;
    width: 21rem;
}
